<navigation></navigation>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success" role="alert" ng-show="vm.succ">
                <strong>Operacija je izvršena!</strong> {{vm.msg}}.
            </div>
            <div class="alert alert-danger" role="alert" ng-show="vm.err">
                <strong>Pogreska</strong> {{vm.msg}}.
            </div>
            <div class="panel panel-body">
            <form class="form-group" role="form" name="addNewMeas">
                <label class="col-md-3 control-label">Datum mjerenja:</label>
                <div class="col-md-8">
                    <input class="form-control"  type="date" placeholder="yyyy-MM-dd"  ng-model="vm.new_meas.measured_date" required>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Dio tjela:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="bodypart_select" class="form-control" ng-model="vm.new_meas.bodypart" required>
                                <option value="Lijeva podlaktica">Visina</option>
                                <option value="Desna podlaktica">Tezina</option>
                                <option value="Lijeva podlaktica">Lijeva podlaktica</option>
                                <option value="Desna podlaktica">Desna podlaktica</option>
                                <option value="Lijeva nadlaktica">Lijeva nadlaktica</option>
                                <option value="Desna nadlaktica">Desna nadlaktica</option>
                                <option value="Ramena">Ramena</option>
                                <option value="Struk">Struk</option>
                                <option value="Lijeva nadkoljenica">Lijeva nadkoljenica</option>
                                <option value="Desna nadkoljenica">Desna nadkoljenica</option>
                                <option value="Lijeva podkoljenica">Lijeva podkoljenica</option>
                                <option value="Desna podkoljenica">Desna podkoljenica</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Vrijednost:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text"  ng-model="vm.new_meas.measured_value" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Mjerna jedinica:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="unit_select" class="form-control" ng-model="vm.new_meas.unit" required>
                                <option value="cm">cm</option>
                                <option value="kg">kg</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=class="form-group">
                    <div lass="col-lg-8">
                    <button type="button" class="btn btn-sm btn-primary btn-create center-block" ng-click="vm.addNew()" ng-disabled="addNewMeas.$invalid">Dodaj</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">


                <form class="form-group" role="form" name="searchMeas">
                    <label class="col-md-3 control-label">Pretraži po datumu:</label>
                    <div class="col-md-8">
                        <input class="form-control"  ng-model="vm.search.created" required>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Pretraži po dijelu tijela:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  ng-model="vm.search.bodypart" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Pretraži po vrijednosti:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  ng-model="vm.search.value" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Pretraži po mjernoj jednici:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text"  ng-model="vm.search.unit" required>
                        </div>
                    </div>


                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-2">
                            <h3 class="panel-title">Mjerenja</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr >
                            <th><em class="fa fa-cog"></em></th>
                            <th class="hidden-xs">Broj</th>
                            <th>Datum</th>
                            <th>Dio tijela</th>
                            <th>Vrijednost</th>
                            <th>Mjerna jedinica</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="m in vm.all_meas |filter:vm.search.created| filter:vm.search.bodypart||vm.search.value|filter:vm.search.unit">
                            <td align="center">
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-danger"><em class="fa fa-trash" ng-click="vm.deleteMeasurement($index)" ></em></a>
                            </td>
                            <td class="hidden-xs">{{$index + 1}}</td>
                            <td ng-model="m.measured_date">{{m.measured_date | date: 'dd-MM-yyyy'}}</td>
                            <td ng-model="m.bodypart">{{m.bodypart}}</td>
                            <td ng-model="m.measured_value">{{m.measured_value}}</td>
                            <td ng-model="m.unit">{{m.unit}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

</div></div></div>